h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

.downloadprompt {
color: Aquamarine;
font-size: 16px;
}

h2 {
  font-size:21px;
  color: gray;

}

#copyright {
  text-align: right;
}

body {
  background-color: black;
  font-family: Verdana;
  text-align: center;
}
